@media all {
.default-graphic-sizing { height: 96px !important;
width: 96px !important;
-webkit-flex: 0 0 auto !important; -moz-flex: 0 0 auto !important; -ms-flex: 0 0 auto !important; -o-flex: 0 0 auto !important; flex: 0 0 auto !important; padding: 5px 5px 5px 5px;

}
}

